@model BookStore.Models.Review
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;
@{
    ViewBag.Title = "Details";
}

<h2>Review Details</h2>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.reviewerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.reviewerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.itemID)
        </dt>
        <dd>
            @Html.DisplayName(Session["itemName"].ToString())
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.reviewDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reviewDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reviewDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reviewDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reviewRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reviewRating)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { reviewID = Model.reviewID , itemID = Model.itemID }) |
    @Html.ActionLink("Back to List", "Index", "Review", new { itemID = TempData["reviewItemID"], itemName = Session["itemName"] }, null)
</p>
