@using PagedList;
@using PagedList.Mvc;

@model IPagedList<BookStore.Models.Item>

@{
    ViewBag.Title = "View";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Item", FormMethod.Get))
{
    //the following are search options
    <b> Search Option: </b><text>Subject</text> @Html.TextBox("search") <input type="submit" name="submit" value="Search" />
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().iName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().iDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().iImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().iPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().iCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().iQuantity)
        </th>
        <th></th>
    </tr>

    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="3"> Records not found </td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.iName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.iDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.iImage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.iPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.iCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.iQuantity)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.itemID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.itemID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.itemID })
                </td>
            </tr>
        }
    }

</table>

@Html.PagedListPager(Model, pageNumber => Url.Action("ViewProduct", new
{
    pageNumber,
    option = Request.QueryString["option"],
    search = Request.QueryString["search"]
}))
